---
import Post from '../../layouts/Post.astro'

---

<Post title='My Posts'>
<ul>
  <li id="list-of-posts">
    <a href='/blog/posts/2024-04-27?theme=dark'> Migrate to NeoVim from VScode (WIP)</a>
  </li>
<script>




</script>

</ul>
</Post>

<style>
  a{
    font-size: larger;
    color: inherit;
  }

</style>
