---
import Post from '../../layouts/Post.astro'
---

<Post title='My Posts'>
<ul>
  <li id="list-of-posts">
    <a href='/blog/posts/migrate_to_nvim_from_vscode'> Migrate to Neovim from VScode</a>
  </li>
<script>

</script>

</ul>
</Post>

<style>
  a{
    font-size: larger;
    color: inherit;
  }

</style>
