---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Programandoconro">

	<main>
		<h1>Bienvenido a <span class="text-gradient">Programandoconro</span></h1>
		<p class="instructions">
			Mis perfiles
			
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/programandoconro/"
				title="Github"
				body="Me especializo en React y React Native. Mis lenguajes favoritos son Typescript y Kotlin. Soy fan de GNU/Linux"
				logo="/logos/github.png"
			/>
			<Card
				href="https://stackoverflow.com/users/5948056/programandoconro/"
				title="Stackoverflow"
				body="Soy muy curioso y me gusta ense帽ar. Siempre pregunto y respondo preguntas sobre programaci贸n, especialmente sobre Python y React"
				logo="/logos/stackoverflow.png"
			/>
			<Card
				href="https://www.hackerrank.com/programandoconro"
				title="HackerRank"
				body="Si no estoy en trabajando en alg煤n proyecto, me gusta mantenerme en forma resolviendo problemas de programaci贸n. De esta manera aprend铆 Java"
				logo="/logos/hackerrank.png"
			/>
			<Card
				href="https://programandoconro.wordpress.com"
				title="Wordpress"
				body="Me inici茅 a la programaci贸n creando un blog sobre Ciencia de Datos y Machine Learning"
				logo="/logos/wordpress.png"
			/>
			<Card
				href="https://www.flickr.com/photos/rodlupanow/"
				title="Flickr"
				body="Mis hobbies son viajar, nadar, subir monta帽as, el ajedrez, la guitarra y la programaci贸n y la fotograf铆a "
				logo="/logos/flickr.png"
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, black);
	}

	h1 {
		margin: 2rem 0;
		font-size: 30px;
	}
	@media screen and (min-width: 600px){
		h1{
		font-size: 50px;

		}
	}
	@media screen and (min-width: 800px){
		h1{
		font-size: 60px;

		}
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #080238;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
