---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import Avatar from "../components/Avatar.astro";
import Card from "../components/Card.astro";
import Timeline from "../components/Timeline.astro";
import Section from "../layouts/Section.astro";
---

<Layout title="Programandoconro">
  <main>
    <h1>
      <span class="text-gradient">Programandoconro</span>
    </h1>

    <Avatar />
    <i
      >Mi nombre es Rodrigo Díaz Lupanow, bienvenidos a <strong
        >programandoconro</strong
      >, un sitio donde comparto mi aprendizaje, intereses y experiencia en el
      mundo de la programación.</i
    >

    <Section title="Mis Perfiles">
      <Profile />
    </Section>

    <Section title="Timeline">
      <Timeline />
    </Section>
    <Section title="Proyecto reciente">
      <Card
        href="https://nakagawaactivity.com/"
        body="Un sitio para reservar aventuras en bicicleta, kayak y escalada."
        logo="./logos/nakagawaactivity_logo.png"
        logoWidth={300}
      />
    </Section>
    <footer>© Programandoconro 2023</footer>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(
      0deg,
      var(--astro-blue),
      rgb(255, 255, 255)
    );
  }
  i {
    font: italic 1.2em "Fira Sans", serif;
    color: var(--astro-white);
  }
  footer {
    padding-top: 20px;
    text-align: center;
    color: var(--astro-white);
  }

  h1 {
    margin: 2rem 0;
    font-size: 30px;
    text-align: center;
  }
  @media screen and (min-width: 500px) {
    h1 {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 50px;
    }
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 60px;
    }
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
