---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import Avatar from "../components/Avatar.astro";
import Card from "../components/Card.astro";
import Timeline from "../components/Timeline.astro";
import Section from "../layouts/Section.astro";
import Language from "../components/Language.astro";
import Title from '../components/Title.astro'
import Pets from '../components/Pets.astro'
import Download from "../components/Download.astro";
---

<Layout title="Programandoconro">
  <main>
    <Download id="download-file-header" />
    <Language />
    <br />
    <Title />
    <Avatar />

    <section id="intro" ></section>

    <Section id="profile-title">
      <Profile />
    </Section>

    <Section id="freelance-projects-title">
      <Card
        href="https://nakagawaactivity.com/"
        logo="./logos/nakagawaactivity_logo.avif"
        id="nakagawaactivity-project"
        logoWidth={200}
        logoHeight={70}
      />
    </Section>

    <Section id="pet-projects-title">
		  <Pets />
    </Section>

    <Section title="Timeline">
      <Timeline />
    </Section>



    <footer>© Programandoconro 2023</footer>
  </main>
</Layout>

<script src="../scripts/set-content.js"></script>
<script src="../scripts/firebase-analytics.js"></script>
<script src="../scripts/tracker-events.js"></script>

<style>
  :root {
    --astro-gradient: linear-gradient(
      0deg,
      var(--astro-blue),
      var(--astro-white)
    );
  }
  section {
    font-family: 'Nerko One', 'Noto Serif JP', serif;
    text-align: center;
    font-size: 32px;
    color: var(--astro-white);
    min-height: 150px;
  }
  footer {
    padding-top: 20px;
    text-align: center;
    color: var(--astro-white);
  }


  @media screen and (min-width: 100px) {
    section {
      font-size: 32px;
    }
  }
  @media screen and (min-width: 500px) {
    section {
      font-size: 35px;
    }
  }
  @media screen and (min-width: 700px) {
    section {
      font-size: 42x;
    }
  }
  @media screen and (min-width: 800px) {
    section {
      font-size: 46px;
    }
  }



  main {
    margin: auto;
    padding: 1em;
    max-width: 85ch;
  }

  footer {
    font-family: 'Press Start 2P', cursive;
    font-size: 80%;
    margin-top: 50px;
    
  }


</style>
