---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import Avatar from "../components/Avatar.astro";
import Card from "../components/Card.astro";
import Timeline from "../components/Timeline.astro";
import Section from "../layouts/Section.astro";
import Language from "../components/Language.astro";
---

<Layout title="Programandoconro">
  <main>
    <Language />

    <br />
    <h1>
      <span class="text-gradient">Programandoconro</span>
    </h1>

    <Avatar />
    <section id="intro"></section>

    <Section id="profile-title">
      <Profile />
    </Section>

    <Section title="Timeline">
      <Timeline />
    </Section>
    <Section id="freelance-projects-title">
      <Card
        href="https://nakagawaactivity.com/"
        logo="./logos/nakagawaactivity_logo.png"
        id="nakagawaactivity-project"
        logoWidth={371}
      />
    </Section>
    <Section id="pet-projects-title">
      <Card
        href="https://correctmyjapanese.vercel.app/"
        logo="./logos/kanjiholic.png"
        logoWidth={192}
        id="kanjiholics-project"
      />
      <Card
        href="https://rusty-chess.vercel.app/"
        logo="./logos/rusty-chess.jpg"
        logoWidth={183}
        logoHeight={99}
        id="rusty-chess-project"
      />
    </Section>
    <footer>© Programandoconro 2023</footer>
  </main>
</Layout>
<script src="../scripts/set-content.js"></script>
<script src="../scripts/firebase-analytics.js"></script>
<script src="../scripts/tracker-events.js"></script>

<style>
  :root {
    --astro-gradient: linear-gradient(
      0deg,
      var(--astro-blue),
      rgb(255, 255, 255)
    );
  }
  section {
    font: 1.2em "Fira Sans", serif;
    color: var(--astro-white);
  }
  footer {
    padding-top: 20px;
    text-align: center;
    color: var(--astro-white);
  }

  h1 {
    margin: 2rem 0;
    font-size: 30px;
    text-align: center;
  }
  @media screen and (min-width: 500px) {
    h1 {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 50px;
    }
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 60px;
    }
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
    user-select: none;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
