---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import Avatar from "../components/Avatar.astro";
---

<Layout title="Programandoconro">
  <main>
    <h1>
      <i>Bienvenidos a</i>
      <span class="text-gradient">Programandoconro</span>
    </h1>

    <Avatar />

    <section>
      <p class="profile-banner">Mis perfiles</p>
      <Profile />
    </section>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #1e00ff, rgb(0, 8, 59));
  }
  i {
    font: italic 1.2em "Fira Sans", serif;
  }

  h1 {
    margin: 2rem 0;
    font-size: 30px;
  }
  @media screen and (min-width: 500px) {
    h1 {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 50px;
    }
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 60px;
    }
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .profile-banner {
    line-height: 1.6;
    margin: 1rem 0;
    background: #2c1d9b;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }
</style>
