<div>
  <span>
    <img src="/logos/programandoconro-no-bg.png" alt="profile avatar" />
  </span>
</div>

<style>
  img {
    height: 220px;
    width: 200px;
    border-radius: 50%;
    transition: 0.3s ease-out;
    transform: translateY(-1.8rem);
    position: absolute;
  }
  span {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }
  img {
    animation: 1s ease-out 0.5s slideIn, 1s ease-out 1.5s slideOut;
  }

  @keyframes slideIn {
    from {
      transform: none;
    }
    to {
      transform: translateY(-40px) scale(1.1);
      transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @keyframes slideOut {
    from {
      transform: translateY(-40px) scale(1.1);
      transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    to {
      transform: translateY(-1.8rem);
    }
  }
  div {
    display: grid;
  }
  span:hover img {
    transform: translateY(-40px) scale(1.1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
</style>
