<div>
  <span>
    <img src="/logos/programandoconro-no-bg.png" alt="profile avatar" />
  </span>
</div>

<style>
  img {
    height: 220px;
    width: 200px;
    border-radius: 50%;
    transition: 0.3s ease-out;
    transform: translateY(10px);
  }
  span {
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  div {
    display: grid;
  }
  span:hover img {
    transform: translateY(-30px);
    transition: 0.3s ease-in;
    position: absolute;
  
</style>
