<div class="switch-toggle" id="switch-toggle" role="switch">
  <input id="spanish" name="state-d" type="radio" />
  <label for="spanish" class="spanish" onclick=""
    ><img
      src="/logos/spain.png"
      height="30px"
      width="40px"
      alt="Spanish flag"
    />
  </label>

  <input id="english" name="state-d" type="radio" />
  <label for="english" class="english" onclick="">
    <img src="/logos/usa.png" height="30px" width="30px" alt="American flag" />
  </label>

  <input id="japanese" name="state-d" type="radio" />
  <label for="japanese" class="japanese" onclick="">
    <img
      src="/logos/japan.png"
      height="30px"
      width="40px"
      alt="Japanese flag"
    />
  </label>
</div>
<style>
  .switch-toggle {
    float: right;
    background: rgb(42, 42, 42);
    display: inline-flex;
    right: 10px;
    position: absolute;
    border-radius: 50px;
  }
  .switch-toggle input {
    position: absolute;
    opacity: 0;
  }
  .switch-toggle input + label {
    padding: 7px;
    float: left;
    color: #fff;
    cursor: pointer;
  }
  .switch-toggle input:checked + label {
    background: var(--astro-gradient);
    transition: 1s ease;
    opacity: 0.5;
  }
  .spanish::after,
  .english::after,
  .japanese::after {
    opacity: 0;
  }
  .spanish:hover,
  .english:hover,
  .japanese:hover {
    background-color: grey;
    transition: opacity 0.75s ease;
    opacity: 1;
  }
  .spanish {
    border-radius: 50px 2px 2px 50px;
  }
  .japanese {
    border-radius: 2px 50px 50px 2px;
  }
  .english {
    border-radius: 2px;
  }
  .spanish,
  .english,
  .japanese {
    color: #fff;
    opacity: 0.25;
  }
  label {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  @media only screen and (max-width: 600px) {
    label {
      width: 25px;
      height: 25px;
    }
  }
  @media only screen and (min-width: 600px) {
    label {
      width: 30px;
      height: 30px;
    }
  }
  @media only screen and (min-width: 768px) {
    label {
      width: 35px;
      height: 35px;
    }
  }
  @media only screen and (min-width: 992px) {
    label {
      width: 40px;
      height: 40px;
    }
  }
  @media only screen and (min-width: 1200px) {
    label {
      width: 42px;
      height: 42px;
    }
  }
</style>
