---
import Card from "./Card.astro"
import Grid from "../layouts/Grid.astro";

---

<Grid>
		<Card
				href="https://weather-calendar-plum.vercel.app/"
				logo="./logos/weather-calendar.png"
				logoWidth={100}
				logoHeight={100}
				id="weather-calendar-project"
		/>
		<Card
				href="https://rusty-chess.vercel.app/"
				logo="./logos/rusty-chess.avif"
				logoWidth={183}
				logoHeight={99}
				id="rusty-chess-project"
		/>
		<Card
				href="https://correctmyjapanese.vercel.app/"
				logo="./logos/kanjiholic.avif"
				logoWidth={183}
				logoHeight={99}
				id="kanjiholics-project"
		/>
		<Card
				href="https://play.google.com/store/apps/details?id=com.kanjiholics"
				logo="./logos/kanjiholics.png"
				logoWidth={100}
				logoHeight={100}
				id="kanjiholics-android"
		/>
		<Card
				href="https://github.com/programandoconro/React-Native-Firebase-Restaurant-Reservation-App"
				logo="./logos/cactus.png"
				logoWidth={100}
				logoHeight={100}
				id="cactus-restaurant"
		/>
		<a href="https://github.com/programandoconro" target="_blank">...more in my github</a>

		<script src="../scripts/only-for-pc.js">
		</script>
	

</Grid>
