<h1 id="title"><code></code></h1>
<script>
    const titleElement = document.getElementById("title");
    const pageName = "ProgramandoconRo";

    const typewriterDelay = () => 
        new Promise((resolve)=>
            setTimeout(resolve, 100 * Math.random() + 100));

    async function animateTypewriterRecursively(){
        for (let letter of pageName) {
            titleElement.append(letter);
            await typewriterDelay();
            const isAnimationFinish = titleElement.innerText.length === pageName.length
            if(isAnimationFinish){
              setTimeout(()=>{
              titleElement.innerText=''
              animateTypewriterRecursively()
              }, 10000)
            }
        }
    };
    animateTypewriterRecursively()
</script>

<style>
	h1{
    color: var(--astro-white);
    font-family: 'Press Start 2P';
    margin: 4rem 0 2rem;
    font-size: 20px;
    text-align: center;
	}
  h1::after{
    content: "|";
    animation: pulse infinite 1s;
    font-weight: bolder;
    color: transparent;

  }
  h1:hover::after{
    content: "|";
    animation: pulse infinite 1.75s;
    font-weight: bolder;
    color: transparent;

  }
  @keyframes pulse {
    from, to { color: transparent }
  50% { color: var(--astro-orange) }
  }

  @media screen and (min-width: 500px) {
    h1 {
      font-size: 15px;
    }
  }
  @media screen and (min-width: 500px) {
    h1 {
      font-size: 25px;
    }
  }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 30px;
    }
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 40px;
    }
  }
</style>
