---
interface Props {
  title?: string;
  id?: string;
}

const { title, id } = Astro.props as Props;
---

<section>
  <p class="banner" id={id}>{title}</p>
  <slot />
</section>

<style>
  .banner {
    line-height: 1.6;
    margin: 1.5rem 0;
    background: var(--astro-blue);
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--astro-white);
  }
  section {
    font-family: 'Anton', sans-serif;
    justify-content: center;
    display: grid;
  }

  @media screen and (min-width: 100px) {
    section {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 500px) {
    section {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 700px) {
    section {
      font-size: 19x;
    }
  }
  @media screen and (min-width: 800px) {
    section {
      font-size: 20px;
    }
  }
</style>
