---
interface Props {
  title?: string;
  id?: string;
}

const { title, id } = Astro.props as Props;
---

<section>
  <p class="banner" id={id}>{title}</p>
  <slot />
</section>

<style>
  .banner {
    line-height: 1.6;
    margin: 1.5rem 0;
    background: var(--astro-blue);
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--astro-white);
  }
</style>
